html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
a,
img,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
canvas {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  // color: #333;
  font-family: arial;
}

article,
aside,
footer,
header,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  background-color: #dfdfdf;
  height: calc(100vh - 45px);
}
