.selector {
  width: 200px;
  padding-right: 10px;
}

$h_box-top: 55px;
.box-top {
  padding: 0 2vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  height: $h_box-top;
  width: 100%;
  margin-bottom: 3px;
}

.box-top-left {
  display: flex;
  align-items: center;
  span {
    font-weight: bold;
    margin-right: 10px;
  }
}
.box-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 45px - 35px - $h_box-top - 3px);
}
$g: 3px;
.box-man-left,
.box-man-right {
  // width: calc((100% - $g) / 2);
  height: 100%;
}
.box-man-left {
  padding: 2vw;
  background: #fff;
  position: relative;
  width: calc(45% - 1.5px);
}
.box-man-right {
  padding: 2vw;
  background: #fff;
  width: calc(55% - 1.5px);
}
.box-man-right-table {
  border-bottom: none !important;
}

$h_edit_del: 50px;
.edit-del {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: $h_edit_del;
}

.for_add {
  width: 100%;
  height: calc(100% + 50px);
  .n-form {
    height: calc(100% - 36px);
  }
  .n-form-item-blank .n-input {
    width: 100%;
  }
}
.add_account {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.left-info {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  height: calc(100% - #{$h_edit_del});
}

$l_info_w: 95px;
.left-info-label {
  width: $l_info_w;
}
.left-info-label > * {
  padding: 6px 20px 6px 0;
  font-weight: bold;
  text-align: right;
}
.left-info-content {
  width: calc(100% - $l_info_w);
}
.left-info-content > * {
  padding: 6px 0;
  text-align: left;
}

.left-info-content-edit {
  width: 100%;
  .n-form-item-blank .n-input {
    width: 100%;
  }
}
.left-info-content-edit-edit,
.left-info-content-add > * {
  padding: 1px;
  margin-bottom: 1px;
  text-align: left;
  border-radius: 1px;
}
.left-info-content-content {
  max-width: 37vw;
  min-width: 37vw;
  max-height: 15vh;
  min-height: 15vh;
}
.left-info-content-textarea-add {
  width: 300px;
  height: auto;
}
.left-info-content-textarea-edit {
  width: 300px;
  height: auto;
}
.user-group-setting-checkbox {
  margin-left: 16px;
}
.btn {
  @extend %btn;
  height: 34px;
  margin-left: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 9px;
}

.change_password {
  height: 24px;
  padding-left: 7px;
  padding-right: 10px;
}

.change_password_box {
  display: flex;
  justify-content: flex-end;
}
.change_password_cancel {
  height: 24px;
  width: 90px;
  margin-top: 3px;
  padding-left: 2px;
  padding-right: 10px;
  background-color: rgb(119, 119, 119);
}
.change_password_cancel:hover {
  height: 24px;
  width: 90px;
  margin-top: 3px;
  padding-left: 2px;
  padding-right: 10px;
  background-color: rgb(147, 147, 147);
}

.n-btn {
  margin-right: 2px;
}
.btn-cancel {
  background-color: rgb(119, 119, 119);
}
.btn-cancel:hover {
  background-color: rgb(147, 147, 147);
}
$gutter: 3px;
$p: 2.5vw;
* {
  color: #333;
}
.btn {
  @extend %btn;
  svg,
  img {
    color: #fff;
    width: 26px;
    margin-right: 3px;
  }
}
.title {
  font-weight: bold;
  margin: 0 0 10px;
  font-size: 15px;
  line-height: 1;
  span {
    font: {
      size: 14px;
      weight: normal;
    }
  }
}
// --------------------------------
// structure
.titleBox,
.leftBox,
.rightBox,
.footerBox {
  background: {
    color: #fff;
  }
  // padding: 5vw;
}
.mainBox {
  display: flex;
}
.titleBox,
.groupBox,
.mainBox,
.footerBox {
  width: 100%;
}
.titleBox,
.footerBox {
  padding: 1vw $p;
}

// --------------------------------
// titleBox
.titleBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: $gutter;
}
.titleBox_selectBox {
  display: flex;
  align-items: center;
  & > span {
    width: 80px;
    font-weight: bold;
  }
  & > div {
    width: 140px;
  }
}
// --------------------------------
// groupBox mainBox
// leftBox rightBox
$width_left: 45%;
.mainBox {
  margin-bottom: $gutter;
}
.leftBox,
.rightBox {
  padding: $p;
}
.leftBox {
  width: calc($width_left - $gutter / 2);
  margin-right: $gutter;
  position: relative;
}
// transfer
.transfer_arrow {
  position: absolute;
  bottom: 160px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 71px;
  background: {
    image: url(../../../../assets/images/transfer_arrow.png);
  }
  span {
    display: block;
    text-align: center;
    font-size: 12px;
    padding-top: 12px;
    &:nth-child(2) {
      padding-top: 20px;
    }
  }
}
.rightBox {
  width: calc(100% - $width_left - $gutter / 2);
}

// listBox
$width_acount: 70px;
$width_status: 105px;
.listBox {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 2vw;
    &:nth-child(odd) {
      background-color: #d9d9d9;
    }
    .is_acount {
      width: $width_acount;
    }
    .is_name {
      width: calc(100% - $width_acount - $width_status);
    }
    .is_status {
      width: $width_status;
      text-align: right;
    }
  }
}

// RIGHT
// permission_group
.permission_group {
  display: inline-block;
  width: 33.3%;
}

.is_floor2 {
  background: {
    image: url(../../../../assets/images/checkbox_dash.png);
    repeat: no-repeat;
    position: 0 3px;
  }
  padding-left: 25px;
}
.is_floor3 {
  & > * {
    width: 100%;
  }
}

// for add
.row {
  display: flex;
  margin-bottom: 1.5vw;
}
$w: 130px;
.left {
  width: $w;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.right {
  width: calc(100% - $w);
}

// --------------------------------
// footerBox
.footerBox {
  display: flex;
  justify-content: flex-end;
}
