// ====================================
// == GLOBAL
// ====================================
.hwcBody {
  height: calc(100% - $hwHeadHeight - $hwGutter);
  @extend %flex_center;
  align-items: stretch;
}

.hwcBody_list,
.hwcBody_main {
  background-color: #fff;
  padding: 15px;
}

// ====================================
// == LIST (LEFT)
// ====================================
$listWidth: 200px;
.hwcBody_list {
  width: $listWidth;
  margin-right: $hwGutter;
  position: relative;
}

// ====================================
// == MAIN (RIGHT)
// ====================================
.hwcBody_main {
  width: calc(100% - $listWidth - $hwGutter);
}
