// ====================================
// == GLOBAL
// ====================================
.hwConfiguration {
  width: 100%;
  height: calc(100% - $breadCrumb_height);
}

.btn {
  @extend %btn;
}

.title {
  font-weight: bold;
}

// for configMain.vue & deviceDetail.vue
.infoBox {
  li {
    @extend %flex_center;
    justify-content: flex-start;
    height: 25px;
  }
  .title {
    padding-right: 8px;
  }
  .selector {
    width: 100px;
  }
}

// table
.table {
  border-style: solid;
  border-color: #333;
  border-width: 1px 0 0 1px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  &.is_header {
    background-color: yellow;
  }
}
.col {
  border-style: solid;
  border-color: #333;
  border-width: 0 1px 1px 0;
  padding: 5px;
  // width: calc(100% / 7);
}

$w: 100px;
.col:first-child {
  width: $w;
}
.col:first-child:nth-last-child(1) ~ .col {
  width: calc((100% - #{$w}) / (1 - 1));
}
.col:first-child:nth-last-child(2) ~ .col {
  width: calc((100% - #{$w}) / (2 - 1));
}

.col:first-child:nth-last-child(3) ~ .col {
  width: calc((100% - #{$w}) / (3 - 1));
}

.col:first-child:nth-last-child(4) ~ .col {
  width: calc((100% - #{$w}) / (4 - 1));
}

.col:first-child:nth-last-child(5) ~ .col {
  width: calc((100% - #{$w}) / (5 - 1));
}

.col:first-child:nth-last-child(6) ~ .col {
  width: calc((100% - #{$w}) / (6 - 1));
}

.col:first-child:nth-last-child(7) ~ .col {
  width: calc((100% - #{$w}) / (7 - 1));
}

.col:first-child:nth-last-child(8) ~ .col {
  width: calc((100% - #{$w}) / (8 - 1));
}

.col:first-child:nth-last-child(9) ~ .col {
  width: calc((100% - #{$w}) / (9 - 1));
}

.col:first-child:nth-last-child(10) ~ .col {
  width: calc((100% - #{$w}) / (10 - 1));
}

$h_titleBox: 30px;
$h_deviceDetail: 140px;

// ====================================
// == HEADER
// ====================================
.hwHead,
.hwHead_left,
.hwHead_right {
  @extend %flex_center;
}

$hwHeadHeight: 32px;
$hwGutter: 3px;

.hwHead {
  background-color: #fff;
  width: 100%;
  justify-content: space-between;
  padding: 0 15px;
  height: $hwHeadHeight;
  margin-bottom: $hwGutter;
  .title {
    width: 100px;
  }
  .selecter {
    width: 120px;
    margin-right: 10px;
  }
  .btn {
    width: auto;
  }
}

.hwHead_left {
  .btn {
    margin-right: 10px;
  }
}

.hwHead_right {
  .btn {
    margin-left: 10px;
  }
}

// ====================================
// == TITLE BOX
// ====================================
.titleBox,
.titleBox_btnBox,
.titleBox_btnBox span {
  @extend %flex_center;
}

.titleBox {
  justify-content: flex-start;
  height: $h_titleBox;
}

.titleBox_btnBox {
  .btn {
    margin-left: 5px;
  }
}
